
/* .ex-chart{
    text-align: center;
    color: #800080;
    margin-top: 10rem;
 
} */

.uploadfile{
    text-align: center;
    margin-top: 5rem;
    height: 10px;
    
}
.action-list2{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    
}

.fa-upload,.fa-file-pdf-o,.fa-table,.fa-question-circle,.fa-clock-o{
    color: #fff !important;
}
.files {
    margin: 10px;
    width:50%; 
    margin-left: 8rem;


}


